@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* font-size: 100%; */
    /* line-height: 1.5; */
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    font-family: 'Inter', sans-serif;
    background-color: #fcfcfd;
    color: black;
    min-height: 100vh;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: inherit;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-lg px-4 py-2 font-medium tracking-tighter;
  }

  .btn-primary {
    @apply bg-black text-white;
  }
  .btn-text {
    @apply bg-transparent text-black;
  }
}
/* Tailwind CSS (global styles or in your Tailwind setup) */
.section {
  @apply h-screen w-full;
}

.cards {
  @apply relative h-72 w-96;
}

.card {
  @apply absolute h-full w-full rounded-lg;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
